:root {
  --ball-size: 75px;
  --field-size: 1024px;
  --PI: 3.14;
}

html {
  height: 100vh;
  /* width: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: var(--field-size);
  height: 575px;
}

.frame {
  background-image: url('./img/background_0.png');
  display: none;
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 90%;
  margin: auto;
  flex-direction: column;
}

.menu_title {
  /* height: 100%; */
  width: 70%;
}

.menu_digit {
  font-size: 200px;
  font-weight: 900;
  color: white;
  line-height: 200px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu_button {
  background: linear-gradient(#2d70e2, #335ca2);
  border: 1px solid white;
  border-radius: 45px;
  padding: 10px 50px;
  font-size: 25px;
  font-weight: 600;
  color: white;
}

@keyframes ball_appear {
  0% {
    left: calc(0px - var(--ball-size));
    transform: rotate(-90deg);
  }
  100% {
    left: 0px;
    transform: rotate(0);
  }
}

@keyframes ball_move {
  0% {
    left: 0;
    transform: rotate(0);
  }
  50% {
    left: calc(var(--field-size) - var(--ball-size));
    transform: rotate(calc((1024 / (75 * 3.14)) * 180deg));
  }
  100% {
    left: 0;
    transform: rotate(0);
  }
}

@keyframes ball_goal {
}

.field {
  background-image: url('./img/background_1.png');
  background-size: auto 100%;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.ball {
  position: absolute;
  background-image: url('./img/ball.png');
  background-size: cover;
  width: var(--ball-size);
  height: var(--ball-size);
  bottom: 10px;
}

.ball_there {
  bottom: 80px;
  width: calc(var(--ball-size) * 0.3);
  height: calc(var(--ball-size) * 0.3);
}

.ball_appear {
  animation: 1s ball_appear;
}

.ball_move {
  animation: 5s linear infinite ball_move;
}

.ball_goal {
  animation: 2s ball_goal;
}

.attemps {
  position: absolute;
  right: 0;
  /* width: var(--ball-size); */
}

.attemp {
  background-image: url('./img/ball.png');
  background-size: cover;
  transform: perspective(500px);
  width: var(--ball-size);
  height: var(--ball-size);
  margin-top: 10px;
  margin-right: 10px;
}

.word-slider {
  position: absolute;
  width: 100%;
  display: flex;
  margin-top: 100px;
}

.slide {
  font-size: 100px;
  line-height: 100px;
  color: white;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin: auto;
  width: auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-transform: uppercase;
}

.result {
  background-image: url('img/background_2.jpg');
  background-size: auto 100%;
  background-position: center;
  /* display: flex; */
}

.win-image {
  width: 80%;
}

.win-image img {
  width: 100%;
}
